{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

{% block htmlHead %}

{% endblock %}

<script type="text/html" id="app-template">
<div>
  <v-app mobile-breakpoint="sm">
    <jh-menu />
    <v-container class="mt-15 px-10">
      <div>
        <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}" align="center" style="height: 100%;">
          <v-col>
            <div class="mt-4">
              【{{ title }}】的作业设计
              <span style="font-size: 1rem;" :class="{'d-block': isMobile}">(ID: {{ articleId }})</span>
            </div>
            <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
          </v-col>

          <v-col class="d-flex" :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}" style="justify-content: end">
            <v-btn color="success" dark class="elevation-0 mr-2" v-if="article && article.articleAssignmentPublishStatus !== 'publish'" @click="doUiAction('saveArticleAssignment', false)">保存</v-btn>
            <v-btn color="error" dark class="elevation-0 mr-2" v-if="article && article.articleAssignmentPublishStatus !== 'publish'" @click="doUiAction('saveArticleAssignment', 'publish')">提交</v-btn>
            <div v-else>
              <v-btn color="error" dark class="elevation-0 mr-2" disabled >已提交，不能修改</v-btn>
              <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('saveArticleAssignment', 'cancel')">撤销提交</v-btn>
            </div>
          </v-col>
        </v-row>
      </div>
      <div style="height: calc(100vh - 300px)">
        <form-item-list-generator
        :form-item-list="articleAssignmentWithAnswer"
        @change="saveData"
        :select-canva-id="selectCanvaId"
        ref="formItemListGenerator"/>
      </div>
    </v-container>
  </v-app>

  <jh-toast />
  <jh-mask />
  <jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>
{% endblock %}

{% block vueScript %}
<link rel="stylesheet" href="/<$ ctx.app.config.appId $>/public/plugins/editor.md/css/editormd.min.css"/>
<script src="/<$ ctx.app.config.appId $>/public/js/lib/jquery.min.js"></script>
<script src="/<$ ctx.app.config.appId $>/public/plugins/editor.md/editormd.js"></script>


{% include 'component/formItemMarkdown.html' %}
{% include 'component/formItemListContent.html' %}
{% include 'component/formItemListGenerator.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      formItemList: [],
      selectCanvaId: '',
      optionKey: {
        0: "A",
        1: "B",
        2: "C",
        3: "D",
        4: "E",
        5: "F",
        6: "G",
        7: "H",
        8: "I",
        9: "J",
        10: "K",
      },
      breadcrumbs: [
        {
          text: '文章管理',
          disabled: true,
        },
        {
          text: '作业设计',
          disabled: true,
        }
      ],

      isMobile: window.innerWidth < 600,
      formItemListPreviewDrawer: false,
      articleId: null,
      article: null,
      title: null,
      saveActionData: {},
      articleAssignmentWithAnswer: [],
      codemirrorOptions: {
        mode: 'application/json',
        theme: 'material-darker',
        indentUnit: 4,
        smartIndent: false,
        tabSize: 4,
        indentWithTabs: true,
      },

    }),
    watch: {
      articleAssignmentWithAnswer: {
        deep: true,
        handler() {
          this.buildFormItemList();
        }
      },
    },
    async created() {
      const urlParams = new URLSearchParams(location.search);
      const articleId = urlParams.get('articleId');
      const title = urlParams.get('title');
      if (articleId) {
        this.articleId = articleId;
      }
      if (title) {
        this.title = title;
      }
      this.doUiAction('selectArticleAssignment', articleId);
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'selectArticleAssignment':
            await this.selectArticleAssignment(uiActionData);
            await this.buildArticleAssignmentWithAnswer(uiActionData);
            break;
          case 'saveArticleAssignment':
            await this.vaildArticleAssignment(uiActionData);
            await this.buildAssignmentItemFile(uiActionData);
            await this.createSaveActionData(uiActionData);
            await this.saveArticleAssignmentRequest(uiActionData);
            await this.syncArticleAssignmentPublishStatus(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      saveData(val) {
        this.articleAssignmentWithAnswer = val;
        console.log('articleAssignmentWithAnswer.formItemList', val);
      },
      buildFormItemList() {
        let list = []
        if (this.articleAssignmentWithAnswer) {
          list = _.cloneDeep(this.articleAssignmentWithAnswer);
          list.forEach(item => {
            // delete item.answerData;
            item.userData = {};
          })
        }
        return list;
      },
      // 获取作业详情
      async selectArticleAssignment(articleId) {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'designAssignment',
              actionId: 'selectAssignment',
              where: { articleId: this.articleId }
            }
          }
        });

        if (result.data.appData.resultData.rows.length < 1) {
          window.vtoast.fail("文章不存在");
          return;
        }

        this.article = result.data.appData.resultData.rows[0];
      },

      buildArticleAssignmentWithAnswer() {
        const articleAssignmentWithAnswer = JSON.parse(this.article.articleAssignmentWithAnswer || '[]');
        _.forEach(articleAssignmentWithAnswer, (item, index) => {
          if (!item.hasOwnProperty('upload')) {
            item.upload = [];
          }
          if (!item.hasOwnProperty('file')) {
            item.file = {};
          }
        })
        this.articleAssignmentWithAnswer = articleAssignmentWithAnswer;
      },

      // 保存作业
      async vaildArticleAssignment(articleAssignmentPublishStatus) {
        if (!this.article) {
          window.vtoast.fail("文章不存在");
          throw new Error("[saveArticleAssignment：文章不存在]")
        }

        if (articleAssignmentPublishStatus === 'publish' && !await window.confirmDialog({ title: '提交后请勿再次修改保存', content: '确定提交吗？' })) {
          throw new Error("[saveArticleAssignment:confirmDialog：提交后请勿再次修改保存,确定提交吗], 否")
        }
      },
      buildAssignmentItemFile() {
        _.forEach(this.articleAssignmentWithAnswer, (item, index) => {
          item.file = {}
          _.forEach(item.upload, (type, i) => {
            item.file[type] = '';
          })
        })
      },
      createSaveActionData(articleAssignmentPublishStatus) {
        this.saveActionData = {};
        const articleAssignment = _.cloneDeep(this.articleAssignmentWithAnswer);
        articleAssignment.forEach(formItem => {
          formItem.answerData = {};
        })
        this.saveActionData = {
          articleAssignmentWithAnswer: JSON.stringify(this.articleAssignmentWithAnswer),
          articleAssignment: JSON.stringify(articleAssignment),
        };
        if (articleAssignmentPublishStatus === 'publish') {
          this.saveActionData.articleAssignmentPublishStatus = articleAssignmentPublishStatus;
        }
        if (articleAssignmentPublishStatus === 'cancel') {
          this.saveActionData.articleAssignmentPublishStatus = null;
        }
      },
      async saveArticleAssignmentRequest(articleAssignmentPublishStatus) {
        window.vtoast.loading("保存");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'designAssignment',
              actionId: 'updateAssignment',
              actionData: this.saveActionData,
              where: { articleId: this.articleId }
            }
          }
        });
        const msg = articleAssignmentPublishStatus === 'publish' ? '提交成功' : articleAssignmentPublishStatus === 'cancel' ? "撤销成功" : "保存成功";
        window.vtoast.success(msg);
      },
      syncArticleAssignmentPublishStatus(articleAssignmentPublishStatus) {
        if (articleAssignmentPublishStatus) {
          this.article.articleAssignmentPublishStatus = articleAssignmentPublishStatus === 'publish' ? articleAssignmentPublishStatus : null;
        }
      },
      // 作业设计card选中的状态变更
      formItemSelect(index) {
        this.selectCanvaId = index
      },
      // 作业card生成随机id
      uuid(t = 21) {
        let e = "", r = crypto.getRandomValues(new Uint8Array(t));
        for (; t--;) {
          let n = 63 & r[t];
          e += n < 36 ? n.toString(36) : n < 62 ? (n - 26).toString(36).toUpperCase() : n < 63 ? "_" : "-"
        }
        ;
        return e
      },
    },
    // 使用provide将方法传递给下层所有组件
    // 直接传selectCanvaId更新group里的内容点击更新不了
    provide() {
      return {
        formItemSelect: this.formItemSelect,
        uuid: this.uuid,
        optionKey: this.optionKey
      };
    },
  })
</script>

<style scoped>
  html {
    height: 100vh;
    overflow-y: hidden;
    min-width: 950px;
    overflow-x: scroll;
  }

  .v-list-item {
    height: unset;
  }
</style>
{% endblock %}