
<template id="tpl-form-design">
  <div class="tpl-form-design-container">
    <form-item-list-generator
      :form-item-list="form"
      ref="formItemListGenerator"/>
  </div>
</template>
<script type="module">
  Vue.component("tpl-form-design", {
    template: "#tpl-form-design",
    props: {
      form: {
        type: Array,
        default: () => {
          return []
        }
      }
    },
    data: () => ({
    }),
    computed: {
      
    },
    watch: {
      // 每个属性值发生变化就会调用这个函数
      form(newVal, oldVal) {
        console.log(newVal);
        this.saveData(newVal)
      },
      // 深度监听 属性的变化
      deep: true
    },
    async created() {
    },
    mounted() {},
    methods: {
      saveData(newVal) {
        // this.$emit('change-structure', this.form);
      }
    }
  })
</script>

<style scoped>
  .tpl-form-design-container {
    width: 100%;
    overflow-y: auto;
  }
  @media (max-width: 500px)  {
    .tpl-form-design-container {
      width: 100%;
      height: auto;
      max-height: none;
      overflow-y: hidden;
    }
  }
</style>
