<template id="form-item-list-review">
  <div class="form-item-list-review-container">
      <v-card class="mb-3" dense v-for="(formItem, index) in formItemList" :key="index">
        <v-list-item>
          <v-list-item-content v-if="formItem.component.type === 'singleSelect'">
            <v-row>
              <v-col cols="12" xs="6" sm="6" md="4" xl="3">
                <v-list-item-title class="formItem-title">{{ index+1 }}、 {{ formItem.component.outline }}</v-list-item-title>
                <v-radio-group disabled v-model="formItem.userData.selected">
                  <v-radio v-for="(option, optionIndex) in formItem.component.property.selectOptionList" :key="optionIndex" :label="option.value" :value="option.value"></v-radio>
                </v-radio-group>
              </v-col>
              <v-col  cols="12" xs="6" sm="6" md="4" xl="4" class="">
                <v-row class="submit-handle-box">
                  <v-col cols="12" class="formItem-title pb-0">
                    批改区域
                  </v-col>
                  <v-col cols="12" style="padding-bottom: 0">
                    正确答案：【{{ formItem.answerString }}】
                    <v-icon v-if="formItem.isRight" color="green" aria-hidden="false">
                      mdi-check-circle
                    </v-icon>
                    <v-icon v-else color="red" aria-hidden="false">
                      mdi-close-circle
                    </v-icon>
                  </v-col>
                  <v-col cols="12" style="padding-bottom: 0">
                    <v-text-field type="number" class="cus-v-input mr-2" dense outlined label="作业评分" v-model="reviewData[formItem.id].score" style="margin-right: 0 !important;"></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-textarea placeholder="作业评语" hide-details outlined name="input-7-4" :rows="4"
                                label="作业评语" v-model="reviewData[formItem.id].comment">
                    </v-textarea>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" xs="12" sm="12" md="4" xl="4" v-if="formItem.file.img || formItem.file.audio || formItem.file.video">
                <v-row>
                  <v-col cols="12" class="formItem-title pb-0">
                    附件区域
                  </v-col>
                  <v-col cols="6" v-if="formItem.file.img">
                    <span>附件-图片</span>
                    <v-img
                      v-if="formItem.file.img"
                      contain
                      max-height="200"
                      max-width="350"
                      @click.stop="showImg('/<$ ctx.app.config.appId $>/upload'+ formItem.file.img)"
                      style="background-color: #eeeeee; cursor: pointer"
                      :src="'/<$ ctx.app.config.appId $>/upload'+ formItem.file.img"
                    >
                    </v-img>
                  </v-col>
                  <v-col cols="6" v-if="formItem.file.video">
                    <span>附件-视频</span>
                    <video
                      v-if="formItem.file.video"
                      :src="'/<$ ctx.app.config.appId $>/upload'+ formItem.file.video"
                      style="width: 100%; max-height: 200px; min-height: 140px" controls preload
                    ></video>
                  </v-col>
                  <v-col cols="12" v-if="formItem.file.audio" class="audio-box">
                    <span>音频</span>
                    <audio
                      v-if="formItem.file.audio"
                      :src="'/<$ ctx.app.config.appId $>/upload'+ formItem.file.audio"
                      style="width: 100%;" controls preload
                    ></audio>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-list-item-content>

          <v-list-item-content v-if="formItem.component.type === 'multipleSelect'">

            <v-row>
              <v-col cols="12" xs="6" sm="6" md="4" xl="3">
            <v-list-item-title class="formItem-title">{{ index+1 }}、 {{ formItem.component.outline }}</v-list-item-title>
            <div v-for="(option, optionIndex) in formItem.component.property.selectOptionList" :key="optionIndex">
              <v-checkbox disabled style="margin-top: 0px;" v-model="formItem.userData[option.value]" :label="option.value" hide-details color="red"></v-checkbox>
            </div>
              </v-col>
              <v-col  cols="12" xs="6" sm="6" md="4" xl="4">
                <v-row class="submit-handle-box">
                  <v-col cols="12" class="formItem-title pb-0">
                    批改区域
                  </v-col>
                  <v-col cols="12" style="padding-bottom: 0">
                    正确答案：【{{ formItem.answerString }}】
                    <v-icon v-if="formItem.isRight" color="green" aria-hidden="false">
                      mdi-check-circle
                    </v-icon>
                    <v-icon v-else color="red" aria-hidden="false">
                      mdi-close-circle
                    </v-icon>
                  </v-col>
                  <v-col cols="12" style="padding-bottom: 0">
                    <v-text-field type="number" class="cus-v-input mr-2" dense outlined label="作业评分" v-model="reviewData[formItem.id].score" style="margin-right: 0 !important;"></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-textarea placeholder="作业评语" hide-details outlined name="input-7-4" :rows="4"
                                label="作业评语" v-model="reviewData[formItem.id].comment">
                    </v-textarea>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" xs="12" sm="12" md="4" xl="4" v-if="formItem.file.img || formItem.file.audio || formItem.file.video">
                <v-row>
                  <v-col cols="12" class="formItem-title pb-0">
                    附件区域
                  </v-col>
                  <v-col cols="6" v-if="formItem.file.img">
                    <span>附件-图片</span>
                    <v-img
                      v-if="formItem.file.img"
                      contain
                      max-height="200"
                      max-width="350"
                      @click.stop="showImg('/<$ ctx.app.config.appId $>/upload'+ formItem.file.img)"
                      style="background-color: #eeeeee; cursor: pointer"
                      :src="'/<$ ctx.app.config.appId $>/upload'+ formItem.file.img"
                    >
                    </v-img>
                  </v-col>
                  <v-col cols="6" v-if="formItem.file.video">
                    <span>附件-视频</span>
                    <video
                      v-if="formItem.file.video"
                      :src="'/<$ ctx.app.config.appId $>/upload'+ formItem.file.video"
                      style="width: 100%; max-height: 200px; min-height: 140px" controls preload
                    ></video>
                  </v-col>
                  <v-col cols="12" v-if="formItem.file.audio" class="audio-box">
                    <span>音频</span>
                    <audio
                      v-if="formItem.file.audio"
                      :src="'/<$ ctx.app.config.appId $>/upload'+ formItem.file.audio"
                      style="width: 100%;" controls preload
                    ></audio>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-list-item-content>

          <v-list-item-content v-if="formItem.component.type === 'textarea'">

            <v-row>
              <v-col cols="12" xs="6" sm="6" md="4" xl="3">
                <v-list-item-title class="formItem-title">{{ index+1 }}、 {{ formItem.component.outline }}</v-list-item-title>
                <v-row>
                  <v-col cols="12">
                    <v-textarea dense outlined disabled v-model="formItem.userData.answer" :rows="5"/>
                  </v-col>
                </v-row>
              </v-col>
              <v-col  cols="12" xs="6" sm="6" md="4" xl="4">
                <v-row class="submit-handle-box">
                  <v-col cols="12" class="formItem-title pb-0">
                    批改区域
                  </v-col>
                  <v-col cols="12" style="padding-bottom: 0">
                    正确答案：【{{ formItem.answerString }}】
                    <v-icon v-if="formItem.isRight" color="green" aria-hidden="false">
                      mdi-check-circle
                    </v-icon>
                  </v-col>
                  <v-col cols="12" style="padding-bottom: 0">
                    <v-text-field type="number" class="cus-v-input mr-2" dense outlined label="作业评分" v-model="reviewData[formItem.id].score" style="margin-right: 0 !important;"></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-textarea placeholder="作业评语" hide-details outlined name="input-7-4" :rows="4"
                                label="作业评语" v-model="reviewData[formItem.id].comment">
                    </v-textarea>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" xs="12" sm="12" md="4" xl="4" v-if="formItem.file.img || formItem.file.audio || formItem.file.video">
                <v-row>
                  <v-col cols="12" class="formItem-title pb-0">
                    附件区域
                  </v-col>
                  <v-col cols="6" v-if="formItem.file.img">
                    <span>附件-图片</span>
                    <v-img
                      v-if="formItem.file.img"
                      contain
                      max-height="200"
                      max-width="350"
                      @click.stop="showImg('/<$ ctx.app.config.appId $>/upload'+ formItem.file.img)"
                      style="background-color: #eeeeee; cursor: pointer"
                      :src="'/<$ ctx.app.config.appId $>/upload'+ formItem.file.img"
                    >
                    </v-img>
                  </v-col>
                  <v-col cols="6" v-if="formItem.file.video">
                    <span>附件-视频</span>
                    <video
                      v-if="formItem.file.video"
                      :src="'/<$ ctx.app.config.appId $>/upload'+ formItem.file.video"
                      style="width: 100%; max-height: 200px; min-height: 140px" controls preload
                    ></video>
                  </v-col>
                  <v-col cols="12" v-if="formItem.file.audio" class="audio-box">
                    <span>音频</span>
                    <audio
                      v-if="formItem.file.audio"
                      :src="'/<$ ctx.app.config.appId $>/upload'+ formItem.file.audio"
                      style="width: 100%;" controls preload
                    ></audio>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-list-item-content>
        </v-list-item>
      </v-card>

    <v-overlay :value="overlay" @click="hideImg" :opacity="0.85">
      <v-icon
        style="position: absolute; right: 30px; top: 30px; z-index: 50000"
        large
        color="white"
        @click="overlay = false"
      >
        mdi-close-circle
      </v-icon>
      <v-img
        max-height="800"
        max-width="800"
        :src="imgSrc"
      ></v-img>
    </v-overlay>
  </div>
</template>

<script>
  Vue.component("form-item-list-review", {
    template: '#form-item-list-review',
    vuetify: new Vuetify(),
    name: 'form-item-list-review',
    props: {
        formItemList: {
          type: Array,
          default: () => {
            return [];
          },
          required: true,
        },
        reviewData: {
          type: Object,
          default: () => {
            return {};
          },
        },
    },
    data: () => ({
      overlay: false,
      imgSrc: ''
    }),
    computed: {},
    destroyed() {},
    watch: {},
    async created() {},
    methods: {
      showImg(src) {
        this.imgSrc = src;
        this.imgSrc = src;
        this.overlay = true;
      },
      hideImg() {
        console.log(123)
      }
    },
  })
</script>

<style scoped>
.form-item-list-review-container .formItem-title {
    white-space: normal;
    font-weight: bold;
    font-size: 16px !important;
}
.form-item-list-review-container audio {
    height: 35px;
}
.form-item-list-review-container .audio-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*.form-item-list-review-container .submit-handle-box {
    position: relative;
}
.form-item-list-review-container .submit-handle-box::after {
    position: absolute;
    width: 1px;
    content: '';
    background-color: #e0e0e0;
    height: 200px;
    top: auto;
    bottom: auto;
}*/
</style>
