<template id="form-item-list-render">
  <div>
    <v-hover v-for="(formItem, index) in userAssignment.assignmentFormItemListWithUser" :key="index" v-slot:default="{ hover }">
      <v-card class="ma-2 formItem-item-body" :elevation="hover ? 12 : 2" dense>
        <v-list-item>
          <v-list-item-content v-if="formItem.component.type === 'singleSelect'">
            <v-list-item-title class="formItem-title">{{ index+1 }}、 {{ formItem.component.outline }}</v-list-item-title>
            <v-radio-group v-model="formItem.userData.selected">
              <v-radio :disabled="assignmentDisabled" v-for="(option, optionIndex) in formItem.component.property.selectOptionList" :key="optionIndex" :label="option.value" :value="option.value"></v-radio>
            </v-radio-group>
            <div class="upload-box">
              <upload v-for="(item, i) in userFileList[index].fileType" ref="upload" :file-type="item" :value="userFileList[index].fileList[item]" :index="index" :i="i" :style="{flex: 1, 'margin-left': i > 0 ? '12px' : 0}"   @change="onFileSave"></upload>
            </div>
            <v-row class="answer-tip-box" v-if="score">
              <v-col cols="12" class="answer-tip-col">
                正确答案：【{{ formItem.answerString }}】
                <v-icon small v-if="formItem.isRight" color="green" aria-hidden="false">
                  mdi-check-circle
                </v-icon>
                <v-icon small v-else color="red" aria-hidden="false">
                  mdi-close-circle
                </v-icon>
              </v-col>
              <v-col cols="12"  class="answer-tip-col">
                <span class="cus-v-input mr-2"> 作业评分：【{{assignmentReview[formItem.id].score}}】</span>
              </v-col>
              <v-col cols="12"  class="answer-tip-col">
                <span class="cus-v-input mr-2"> 作业评语：【{{assignmentReview[formItem.id].comment}}】</span>
              </v-col>
            </v-row>
          </v-list-item-content>

          <v-list-item-content v-if="formItem.component.type === 'multipleSelect'">
            <v-list-item-title class="formItem-title">{{ index+1 }}、 {{ formItem.component.outline }}</v-list-item-title>
            <div v-for="(option, optionIndex) in formItem.component.property.selectOptionList" :key="optionIndex">
              <v-checkbox :disabled="assignmentDisabled" style="margin-top: 0px;" v-model="formItem.userData[option.value]" :label="option.value" hide-details color="red"></v-checkbox>
            </div>
            <div class="upload-box">
              <upload v-for="(item, i) in userFileList[index].fileType" ref="upload" :file-type="item" :value="userFileList[index].fileList[item]" :index="index" :i="i" :style="{flex: 1, 'margin-left': i > 0 ? '12px' : 0}" @change="onFileSave"></upload>
            </div>
            <v-row class="answer-tip-box" v-if="score">
              <v-col cols="12"  class="answer-tip-col">
                正确答案：【{{ formItem.answerString }}】
                <v-icon small v-if="formItem.isRight" color="green" aria-hidden="false">
                  mdi-check-circle
                </v-icon>
                <v-icon small v-else color="red" aria-hidden="false">
                  mdi-close-circle
                </v-icon>
              </v-col>
              <v-col cols="12"  class="answer-tip-col">
                <span class="cus-v-input mr-2"> 作业评分：【{{assignmentReview[formItem.id].score}}】</span>
              </v-col>
              <v-col cols="12"  class="answer-tip-col">
                <span class="cus-v-input mr-2"> 作业评语：【{{assignmentReview[formItem.id].comment}}】</span>
              </v-col>
            </v-row>
          </v-list-item-content>

          <v-list-item-content v-if="formItem.component.type === 'textarea'">
            <v-list-item-title class="formItem-title">{{ index+1 }}、 {{ formItem.component.outline }}</v-list-item-title>
            <v-row>
              <v-col cols="12"  class="answer-tip-col">
                <v-textarea :disabled="assignmentDisabled" dense placeholder="请输入答案" v-model="formItem.userData.answer" :rows="4"/>
              </v-col>
            </v-row>

            <div class="upload-box">
              <upload v-for="(item, i) in userFileList[index].fileType" ref="upload" :file-type="item" :value="userFileList[index].fileList[item]" :index="index" :i="i" :style="{flex: 1, 'margin-left': i > 0 ? '12px' : 0}" @change="onFileSave"></upload>
            </div>
            <v-row class="answer-tip-box" v-if="score" style="margin-top: 0">
              <v-col cols="12"  class="answer-tip-col">
                正确答案：【{{ formItem.answerString }}】
                <v-icon small v-if="formItem.isRight" color="green" aria-hidden="false">
                  mdi-check-circle
                </v-icon>
              </v-col>
              <v-col cols="12"  class="answer-tip-col">
                <span class="cus-v-input mr-2"> 作业评分：【{{assignmentReview[formItem.id].score}}】</span>
              </v-col>
              <v-col cols="12"  class="answer-tip-col">
                <span class="cus-v-input mr-2"> 作业评语：【{{assignmentReview[formItem.id].comment}}】</span>
              </v-col>
            </v-row>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-hover>

  </div>
</template>

<script>
  Vue.component("form-item-list-render", {
    template: '#form-item-list-render',
    vuetify: new Vuetify(),
    name: 'form-item-list-render',
    mixins: [ window.jianghuUiActionMixins ],
    data: () => window.vueData,
    vueComponent: 'formItemListRender',
    computed: window.vueComputed,
    destroyed() {},
    watch: {},
    async created() {},
    methods: {
      onFileSave(index, type, file) {
        this.userFileList[index].fileList[type] = file
      },
      getAnswerString(type, data) {
        switch (type) {
          case "单选":
            return data.selected;
          case "多选":
            return Object.keys(data).join(',');
          case "问答":
            return data.answer;
          default :
            return 'default';
        }
      },
    },
  })
</script>

<style scoped>
.formItem-title {
  white-space: normal;
}
.answer-tip-col {
    padding: 3px 15px;
}
.answer-tip-box {
    padding: 10px 0;
}
.upload-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
</style>
