<template id="form-item-action">
  <div class="correct">
    <div class="correct-title-box">
      <div :class="data.isRight ? 'successText' : 'failText'">{{data.isRight ? '回答正确' : '回答错误'}}：正确答案为【{{data.answer}}】</div>
      <v-btn elevation="0" small style="max-width: 60px" color="primary" dark @click.stop="doUiAction('submitArticleAssignment', {index: 0})">
        保存
      </v-btn>
    </div>
    <v-row>
      <v-col cols="12">
        <v-text-field class="cus-v-input mr-2" dense outlined label="作业评分" v-model="data.grade" style="margin-right: 0 !important;"></v-text-field>
      </v-col>
      <v-col cols="12">
<!--        <v-text-field class="cus-v-input mr-2" dense outlined label="作业评语" v-model="data.remark"></v-text-field>-->
        <v-textarea placeholder="作业评语" hide-details outlined name="input-7-4" :rows="3"
                  label="作业评语" v-model="data.remark">
            </v-textarea>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  Vue.component("form-item-action", {
    template: '#form-item-action',
    mixins: [ window.jianghuUiActionMixins ],
    vuetify: new Vuetify(),
    name: 'form-item-action',
    props: {
        data: {
          type: Object,
          default: () => {
            return {}
          },
          required: true,
        },
    },
    data: () => ({
      desserts: [
        {
          name: 'Frozen Yogurt',
          calories: 159,
        },
        {
          name: 'Ice cream sandwich',
          calories: 237,
        }
      ]
    }),
    computed: {},
    destroyed() {},
    watch: {},
    async created() {},
    methods: {},
  })
</script>

<style scoped>
.formItem-title {
  white-space: normal;
}
td.errorTd {
    background: rgba(222, 95, 95, 0.2) !important;
}
td.greenTd {
    background: rgba(95, 222, 139, 0.2) !important;
}
</style>
